// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

@import './assets/_main.scss';

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~ag-grid-community/dist/styles/ag-grid.css";


// Theme customization
@import "theme/theme";