<div class="container p-3">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form name="signinForm" #f="ngForm" novalidate>
        <div class="card" [ngbCollapse]="isSecretValidated || isSecretReset">
          <div class="card-header">
            <h3>Password Recovery</h3>
            <h3>{{user.usernameOrEmail}}</h3>
          </div>
          <div class="card-body">
            <p>Enter the last password you remember using with this account</p>
            <div>
              <label for="password">Last Password</label>
              <input id="password" name="password" type="password" [(ngModel)]="user.password" #password="ngModel"
                spellcheck="false" class="form-control inline-control" appAnimatedLabel appPasswordToggle
                (keydown.Enter)="recoverPassword()" />
            </div>
            <div *ngIf="password.invalid && password.errors" class="alert alert-danger"></div>
          </div>
          <div class="card-footer">
            <button type="button" [disabled]="password.invalid" (click)="recoverPassword()" class="btn btn-primary float-right">Next</button>
          </div>
        </div>
      </form>
      <div class="card" [ngbCollapse]="!isSecretValidated">
        <h3 class="card-header">Success!</h3>
        <div class="card-body">
          <p>Success - you are signed in now.</p>
          <p>You entered your current password, so you can continue to your account. You can still change
            your password if you want.</p>
          <button type="button" (click)="redirectPostLogin()" class="btn btn-primary float-right">Continue</button>
        </div>
        <div class="card-footer">
          <a routerLink="/change-password" class="card-link">Change password</a>
        </div>
      </div>
      <div class="card" [ngbCollapse]="!isSecretReset">
        <h3 class="card-header">Success!</h3>
        <div class="card-body">
          <p>{{message}}</p>
          <a routerLink="/sign-in" class="btn btn-primary float-right">Continue</a>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
