<div class="container p-3">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card" [ngbCollapse]="authService.user || isTokenInvalid || isSecretReset">
                <h3 class="card-header">Password Reset</h3>
                <div class="card-body">
                    <p>
                        Choose a strong password and don't reuse it for other accounts.
                    </p>
                    <div>
                        <label for="newPassword">New Password</label>
                        <input id="newPassword" name="newPassword" type="password" [(ngModel)]="credentials.newPassword"
                            #newPassword="ngModel" required spellcheck="false" class="form-control inline-control"
                            appAnimatedLabel appPasswordToggle autofocus (keydown.Enter)="resetPassword()" />
                    </div>
                    <div *ngIf="newPassword.invalid && newPassword.errors">
                        <div *ngIf="newPassword.errors.invalidsecret" class="alert alert-danger">
                            <i class="icon-exclamation mr-2"></i>You cannot use a previous password
                        </div>
                        <div *ngFor="let passwordError of passwordErrors" class="alert alert-danger">
                            <i class="icon-exclamation mr-2"></i>{{passwordError}}
                        </div>
                    </div>
                    <app-password-validator [hidden]="!credentials.newPassword.length" [passwordToCheck]="credentials.newPassword"
                        (GetPasswordValidation)="setPasswordValidation($event)"></app-password-validator>
                </div>
                <div class="card-footer">
                    <button type="button" [disabled]="newPassword.invalid" (click)="resetPassword()" class="btn btn-primary float-right">
                        Change Password
                    </button>
                </div>
            </div>
            <div class="card" [ngbCollapse]="!isTokenInvalid || isSecretReset">
                <div class="card-body">
                    <p>Password reset is invalid</p>
                </div>
                <div class="card-footer">
                    <a [routerLink]="['/password/recover', username]" class="card-link">Ask for new password reset</a>
                </div>
            </div>
            <div class="card" [ngbCollapse]="!isSecretReset || isTokenInvalid">
                <div class="card-body">
                    <p>Password successfully reset</p>
                </div>
                <div class="card-footer">
                    <a routerLink="" class="btn btn-primary float-right">Continue</a>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>