<div class="container p-3">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="card">
        <h3 class="card-header">Expired Credentials</h3>
        <div class="card-body">
          <p>Your current password has expired. We just sent instructions to your email address to set
            up a new one.</p>
        </div>
        <div class="card-footer">
          <a routerLink="/home" class="card-link">Return Home</a>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
