<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      <strong>{{listTitle}}</strong>
    </h3>
    <div class="btn-group pull-right">
      <button type="button" *ngIf="!isReadOnly" (click)="toggleCreateItem()" class="btn btn-xs btn-success hierarchy-list-glyph"
        aria-hidden="true">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </div>
  </div>
  <div class="panel-body">
    <div class="list-group hierarchy-item-list">
      <app-dynamic-form *ngIf="creatingItem && !createMetadata" (saveForm)="onCreate($event)" [questions]="cleanMetadata()"
        [isNewObject]="true">
      </app-dynamic-form>
      <app-dynamic-form *ngIf="creatingItem && createMetadata" (saveForm)="onCreate($event)" [questions]="getCreateMetadata()"
        [isNewObject]="true">
      </app-dynamic-form>
      <div *ngFor="let item of allItems" [class.selected]="isSelected(item)" class="list-group-item one-line">
        <input *ngIf="canShowCheckboxes()" class="checkbox" type="checkbox" [checked]="isChecked(item)" (change)="toggleItemSelection(item)" />
        <button type="button" class="btn btn-md btn-default hierarchy-item-button" (click)="toggleItem(item)">
          <strong>{{item.name}}</strong>
          <span *ngIf="hasMultipleLists(item)" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
          <span *ngIf="!hasMultipleLists(item) && getFirstListCount(item) || isReadOnly" class="glyphicon glyphicon-triangle-right"
            aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-xs btn-default" (click)="toggleEditItem(item)">
          <span *ngIf="!isReadOnly" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
          <span *ngIf="isReadOnly" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
        </button>
        <button type="button" *ngIf="aboutToDeleteItem !== item && !isReadOnly" class="delete close hierarchy-list-glyph"
          (click)="onDelete(item)">
          <span>&nbsp;x</span>
        </button>
        <span *ngIf="!hasMultipleLists(item) && getFirstListCount(item)" class="badge hierarchy-list-glyph hierarchy-item-badge">{{getFirstListCount(item)}}</span>
        <div *ngIf="aboutToDeleteItem === item" class="alert alert-info delete-alert" role="alert">
          Remove <strong>{{item.name}}</strong> from <strong>{{listTitle}}</strong>?
          <br>
          <button type="button" class="btn btn-xs btn-danger" (click)="clearAboutToDelete()">no</button>
          <button type="button" class="btn btn-xs btn-success" (click)="onDelete(item)">yes</button>
        </div>
        <div *ngIf="isSelected(item) && !editingItem && hasMultipleLists(item)" class="list-group">
          <button type="button" *ngFor="let list of getLists(item)" class="list-group-item btn btn-default" (click)="toggleList(list)">
            {{list.name}}
            <span *ngIf="list.items.length" class="badge hierarchy-list-glyph">{{list.items.length}}</span>
          </button>
        </div>
        <div *ngIf="isSelected(item) && editingItem">
          <app-dynamic-form [isReadOnly]="isReadOnly" (saveForm)="onModify($event)" [questions]="getMetadata(item)"
            [object]="item">
          </app-dynamic-form>
        </div>
        <div *ngIf="isSelected(item) && !editingItem && viewingMetadata">
          <app-dynamic-form [questions]="getViewMetadata(item)" [object]="item" [isReadOnly]="true">
          </app-dynamic-form>
        </div>
      </div>
    </div>
  </div>
</div>
