<div class="container p-3">
  <div class="card">
    <div class="card-body">
      <h1>Privacy Policy of MEANCore</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
        aliqua. Tincidunt tortor aliquam nulla facilisi. Nulla posuere sollicitudin aliquam ultrices. Id eu nisl nunc mi
        ipsum. Vitae proin sagittis nisl rhoncus mattis rhoncus. Pulvinar elementum integer enim neque volutpat ac tincidunt
        vitae semper. In ante metus dictum at tempor commodo. In vitae turpis massa sed elementum tempus egestas sed sed.
        Bibendum arcu vitae elementum curabitur vitae nunc sed velit. Amet volutpat consequat mauris nunc congue nisi.
      </p>
    </div>
  </div>
</div>
