<div class="card form-group">
  <form [formGroup]="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div *ngFor="let question of questions" class="form-group">
      <app-dynamic-question *ngIf="(isNewObject && !question.hideOnCreate) || (!isNewObject && !question.hideOnEdit)"
        [isNewObject]="isNewObject" [question]="question" [form]="form">
      </app-dynamic-question>
    </div>
    <div *ngIf="!isReadOnly" class="btn-group float-right mr-2">
      <button type="submit" class="btn btn-success" [disabled]="!form.valid">
        <i class="icon-save"></i>
      </button>
      <button type="button" class="btn btn-info" (click)="onClose()">
        <i class="icon-times"></i>
      </button>
    </div>
  </form>
</div>
