<div class="card">
  <div class="card-header">
    <h5 class="card-title float-left">
      <strong>{{listTitle}}</strong>
    </h5>
    <button type="button" *ngIf="!creatingItem" (click)="toggleCreateItem()" class="btn btn-xs btn-success float-right"
      aria-hidden="true" ngbTooltip="Create">
      <i class="icon-plus" aria-hidden="true"></i>
    </button>
    <button type="button" *ngIf="creatingItem" (click)="toggleCreateItem()" class="btn btn-xs btn-secondary float-right"
      aria-hidden="true" ngbTooltip="Cancel">
      <i class="icon-times" aria-hidden="true"></i>
    </button>
  </div>
  <div class="card-body">
    <div class="list-group list-group-flush">
      <app-dynamic-form *ngIf="creatingItem && !createMetadata" (closeForm)="onCloseForm()" (saveForm)="onCreate($event)"
        [questions]="cleanMetadata()" [isNewObject]="true">
      </app-dynamic-form>
      <app-dynamic-form *ngIf="creatingItem && createMetadata" (closeForm)="onCloseForm()" (saveForm)="onCreate($event)"
        [questions]="getCreateMetadata()" [isNewObject]="true">
      </app-dynamic-form>
      <div *ngFor="let item of allItems" [class.selected]="isSelected(item)" class="list-group-item">
        <input *ngIf="canShowCheckboxes()" class="align-text-bottom" type="checkbox" [checked]="isChecked(item)"
          (change)="toggleItemSelection(item)" />
        <button type="button" class="btn btn-md btn-light text-nowrap text-truncate" (click)="toggleItem(item)">
          <strong>{{item.name}}</strong>
          <span *ngIf="hasMultipleLists(item)" aria-hidden="true">
            <i class="icon-angle-down ml-2"></i>
          </span>
          <span *ngIf="!hasMultipleLists(item) && getFirstListCount(item) || isToggle || isReadOnly" aria-hidden="true">
            <i class="icon-chevron-right ml-2"></i>
          </span>
          <span *ngIf="!hasMultipleLists(item) && getFirstListCount(item)" class="badge badge-pill badge-dark ml-2">{{getFirstListCount(item)}}</span>
        </button>
        <div class="btn-group float-right" role="group">
          <button type="button" *ngIf="!editingItem && !isReadOnly" class="btn btn-xs btn-secondary" (click)="toggleEditItem(item)"
            ngbTooltip="Edit" aria-hidden="true">
            <span><i class="icon-edit"></i></span>
          </button>
          <button type="button" *ngIf="isReadOnly" class="btn btn-xs btn-secondary" ngbTooltip="View" (click)="toggleItem(item)"
            aria-hidden="true">
            <i class="icon-angle-down"></i>
          </button>
          <button type="button" *ngIf="aboutToDeleteItem !== item" class="btn btn-xs btn-danger" (click)="onDelete(item)"
            ngbTooltip="Delete">
            <i class="icon-trash-alt"></i>
          </button>
        </div>
        <div *ngIf="aboutToDeleteItem === item">
          <div class="alert alert-danger form-group" role="alert">
            Remove <strong>{{item.name}}</strong> from <strong>{{listTitle}}</strong>?
          </div>
          <div class="btn-group float-right" role="group">
            <button type="button" class="btn btn-danger" (click)="onDelete(item)"><i class="icon-check"></i></button>
            <button type="button" class="btn btn-info" (click)="aboutToDeleteItem=false"><i class="icon-times"></i></button>
          </div>
        </div>
        <div *ngIf="isSelected(item) && !aboutToDeleteItem && !editingItem && hasMultipleLists(item)" class="list-group p-1">
          <button type="button" *ngFor="let list of getLists(item)" class="list-group-item btn btn-light  text-nowrap text-truncate"
            (click)="toggleList(list)">
            <span>{{list.name}}</span>
            <i class="icon-angle-down ml-2"></i>
            <span *ngIf="list.items.length" class="badge badge-pill badge-dark ml-2">{{list.items.length}}</span>
          </button>
        </div>
        <div *ngIf="isSelected(item) && editingItem">
          <app-dynamic-form [isReadOnly]="isReadOnly" (closeForm)="onCloseForm()" (saveForm)="onModify($event)"
            [questions]="getMetadata(item)" [object]="item">
          </app-dynamic-form>
        </div>
        <div *ngIf="isSelected(item) && !aboutToDeleteItem && !editingItem && viewingMetadata">
          <app-dynamic-form [questions]="getViewMetadata(item)" [object]="item" [isReadOnly]="true">
          </app-dynamic-form>
        </div>
      </div>
    </div>
  </div>
</div>
