<div class="app-footer">
  <div class="container p-3">
    <div class="row">
      <div class="col-sm-4">
        <hr />
        <h3>MEANCore</h3>
        <ul class="about-list">
          <li>
            <a routerLink="/about">About</a>
          </li>
          <li>
            <a routerLink="/privacy">Privacy Policy</a>
          </li>
          <li>
            <a routerLink="/terms">Terms and Conditions</a>
          </li>
          <li>
            <a routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4"></div>
    </div>
  </div>
</div>
